@model Sightseer.Models.ViewModels.Users.UserProfileVm

@{
    ViewBag.Title = "Profile page";
}

<div>
    <h4>My profile</h4>
    <hr />
    @Html.ActionLink("Edit", "EditProfile")
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.ReviewedAttractions)
        </dt>
        <dd>
            @foreach (var attr in Model.ReviewedAttractions)
            {
                @Html.ActionLink(attr.Name, "Details", "Attractions", new { id = attr.Id }, null)
                @Html.DisplayName($", {attr.Town}, {attr.Country}")<br/>
            }
        </dd>
    </dl>
</div>

@Html.ActionLink("Home", "Index", "Home")
