@model Sightseer.Models.EntityModels.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StarRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StarRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorthVisiting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorthVisiting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Reviews")
</p>
