@model IEnumerable<Sightseer.Models.ViewModels.Reviews.ReviewVm>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    <div id="reviewContainer">
        <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
        <p><i><span style="color:green">@Html.DisplayFor(modelItem => item.Author)</span> posted on @Html.DisplayFor(modelItem => item.Date). Attraction rated with <b><span style="color:lightcoral">@Html.DisplayFor(modelItem => item.StarRating)</span></b> stars.</i></p>
        <div>
            <p>@Html.DisplayFor(modelItem => item.ReviewText)</p>
            @Html.DisplayNameFor(model => model.WorthVisiting) @Html.DisplayFor(modelItem => item.WorthVisiting)
        </div>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        }
    </div>
}
