@model IEnumerable<Sightseer.Models.ViewModels.Attractions.AttractionVm>
@{
    ViewBag.Title = "Sightseer";
}

<div class="jumbotron">
        @using (Html.BeginForm("Index", "Attractions", FormMethod.Get))
        {
            @Html.TextBox("searchValue", null, new { @class = "form-control col-lg-12", placeholder = "Where do you want to go next?" })
            <input type="submit" value="Search" class="btn btn-default" />
        }
</div>

<div class="row">
    @foreach (var vm in Model)
    {
        <div class="col-md-4">
            <h2>@vm.Name</h2>
            <p>

            </p>
            <p>
                @vm.Town, @vm.Country
            </p>
            <p>
                @vm.Description
            </p>
        </div>
    }
</div>