@using Sightseer.Services.Utils
@model IEnumerable<Sightseer.Models.ViewModels.Attractions.AttractionVm>
@{
    ViewBag.Title = "Sightseer";
}

<div class="jumbotron">
        @using (Html.BeginForm("Index", "Attractions", FormMethod.Get))
        {
            @Html.TextBox("searchValue", null, new { @class = "form-control col-lg-12", placeholder = "Where do you want to go next?" })
            <input type="submit" value="Search" class="btn btn-default" />
        }
</div>

<div class="row">
    @foreach (var vm in Model)
    {
        <div class="col-md-4">
            <h3>@Html.DisplayFor(model => vm.Name)</h3>
            <h4><i>@Html.DisplayFor(model => vm.Town), @Html.DisplayFor(model => vm.Country)</i></h4>
            <div>
                @if (vm.Image != null)
                {
                    <img alt="Attraction Image" src="@Url.Content("/Attractions/AttractionImage/?id=" + vm.Id)" />
                }
            </div>
            <p>
                @Utils.CutText(vm.Description, 420);
            </p>
            <p>
                <a class="btn btn-default" href="@Url.Content("/attractions/details/" + vm.Id)">Learn more &raquo;</a>
            </p>
        </div>
    }
</div>